<div th:replace="~{template/template::template(~{::title}, ~{::section})}">
  <title>Update Student</title>
  <section>
    <form
      th:action="@{/students/update}"
      th:method="put"
      th:object="${student}"
    >
      <input type="hidden" th:field="*{id}" />
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" />
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" id="country" th:field="*{country}" />
      </div>

      <div class="mb-3">
        <label for="mobile" class="form-label">Mobile</label>
        <input
          type="number"
          class="form-control"
          id="mobile"
          th:field="*{mobile}"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
</div>
